:root{
    --card-img-dimensions: 20rem;
}

body{
    background: url(images/Space2.png);
    background-size: cover;
}
main{
    z-index: 3;
}

hgroup:not(.card-headings){
    text-align: center;
    margin-block: 1rem;
}

.page-section{
    margin-block: 18rem;
    animation: sectionBlur both;
    animation-timeline: view();
}

@keyframes sectionBlur{
    0%{
        filter: blur(3px);
    }
    45%, 55%{
        filter: blur(0rem);
    }
    100%{
        filter: blur(3px);
    }
}

hgroup h2{
    font-size: 2rem;
    margin-block: 0;
}
hgroup p{
    font-size: 1.5rem;
    margin-block: 0;
}

/* #region Hero Section */

.hero-section{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 15rem;
    margin-bottom: 10rem;
    align-items: center;
    justify-content: center;
    z-index: 3;
    text-align: center;
    gap: 0;
}

.hero-section hgroup h2{
    font-family: 'ClashDisplay-Hero';
    font-weight: bold;
    font-size: var(--hero-fs);
    margin-block: 0;
    height: fit-content;
    z-index: 3;
}

.hero-section hgroup p{
    font-size: var(--heading-fs);
    margin-bottom: 3.5rem;
    z-index: 3;
}

.hero-section svg{
    margin: 5rem;
    width: 100%;
    height: 20rem;
}
/* #endregion */

.bellow-hero{
    margin-top: 0rem;
    z-index: 3;
}

/* #region planet cards */
.card-container{
    z-index: 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    padding: 1rem;
    margin-bottom: 2rem;
    margin-inline: 3rem;
}

.card{
    z-index: 3;
    width: var(--card-img-dimensions);
    border: var(--border);
    border-radius: var(--border-radius);
    background-color: var(--glass-color);
    backdrop-filter: var(--glass-blur);
    padding: 1rem;
    flex-grow: 2;
}

.card .svg-container{
    z-index: 3;
    display: flex;
    height: var(--card-img-dimensions);
    border:  var(--border);
    border-radius: var(--border-radius);
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
}

.card .svg-container svg{
    z-index: 3;
}

.card-headings{
    margin-block: 1rem;
    z-index: 3;
}

.card p{
    /* margin: 0.5rem; */
    font-size: 1rem;
    text-align: center;
    z-index: 3;
}

.card h3{
    margin: 1rem;
    font-size: 1.5rem;
    text-align: center;
    z-index: 3;
}

/* #endregion */

/* #region banana section */
.the-banana{
    display: flex;
    align-items: center;
    justify-content: center;
}

.banana-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.banana-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border:  var(--border);
    border-radius: var(--border-radius);
    width: var(--card-img-dimensions);
    height: fit-content;
    padding: 1rem;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    background-color: var(--glass-color);
    backdrop-filter: var(--glass-blur);
}

.banana-card svg{
    padding: 1rem;
    /* border: var(--border); */
    /* border-radius: var(--border-radius); */
    width: 100%;
    height: 100%;
    transform: translateZ(25px);
}

.banana-stats{
    width: 100%;
}

.banana-card ul{
    list-style: none;
    padding-inline: 0.5rem;
    margin: 0;
    margin-top: 2rem;
    width: 100%;
}

.banana-card ul li{
    display: flex;
    gap: auto;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;
    font-size: 1rem;
}

.banana-card ul li p{
    margin-block: 0.5rem;
}

.description{
    width: 30rem;
    font-size: 1.5rem;
}
/* #endregion */

/* #region text */
#small-stage{
    font-size: 3rem;
}

#cosmic-arena{
    margin-left: 0.5rem;
    text-transform: uppercase;
    font-size: 8rem;
    z-index: 3;
}
/* #endregion */

.button-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #region ring decoration */
.ring-decoration-parent{
    position: absolute;
    transform: translate(-100%, -50%);
    /* overflow-x: hidden;
    overflow-y: hidden; */
    pointer-events: none;
    overflow-x: hidden;
    height: 300vw;
    width: 100%;
    top: 50vh;
    left: 100vw;
    z-index: 1;
    content: "";
}

.ring-decoration{
    position: absolute;
    border: var(--border);
    border-radius: 100%;
    top: 110vw;
    left: 100%;
    z-index: 1;
    transform: translate(-50%, -50%);
    content: "";
}

.ring-decoration:nth-child(1){
    height: 30vw;
    width: 30vw;
    z-index: 1;
}
.ring-decoration:nth-child(2){
    height: 95vw;
    width: 95vw;
    z-index: 1;
}
.ring-decoration:nth-child(3){
    height: 140vw;
    width: 140vw;
    z-index: 1;
}
.ring-decoration:nth-child(4){
    height: 155vw;
    width: 155vw;
    z-index: 1;
}
.ring-decoration:nth-child(5){
    height: 198vw;
    width: 198vw;
    z-index: 1;
}
.ring-decoration:nth-child(6){
    height: 250vw;
    width: 250vw;
    z-index: 1;
}
/* #endregion */