.hero-section{
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-block: 19rem;
}

.hero-section blockquote p{
    font-family: 'ClashDisplay-Bold';
    font-size: 5rem;
    font-weight: 700;
    margin-block: 1rem;
}

.hero-section p{
    font-size: 2rem;
    font-weight: 600;
    margin-top: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.card-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
}

.card{
    border: var(--stroke-width) solid var(--titanium-white);
    border-radius: 1.5rem;
    padding: 1rem;
}