:root{
    --card-img-dimensions: 20rem;
}

hgroup:not(.card-headings){
    text-align: center;
    margin-block: 1rem;
}

.page-section{
    margin-block: 21.5rem;
}

hgroup h2{
    font-size: 2rem;
    margin-block: 0;
}
hgroup p{
    font-size: 1.5rem;
    margin-block: 0;
}

/* #region Hero Section */

.hero-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0;
}

blockquote{
    width: fit-content;
    margin: 0;
}

.hero-section hgroup h2{
    font-family: 'ClashDisplay-Bold';
    font-size: var(--hero-fs);
    margin-block: 0;
}

.hero-section hgroup p{
    font-size: var(--heading-fs);
    margin-block: 1rem;
}

.hero-section svg{
    margin: 5rem;
    width: 100%;
    height: 20rem;
}
/* #endregion */

/* #region planet cards */
.card-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    padding: 1rem;
}

.card{
    width: var(--card-img-dimensions);
    border: var(--stroke-width) solid var(--titanium-white);
    border-radius: 1.5rem;
    padding: 1rem;
}

.card .svg-container{
    z-index: 0;
    display: flex;
    height: var(--card-img-dimensions);
    border-radius: 1.5rem;
    border:  var(--stroke-width) solid var(--titanium-white);
    justify-content: center;
    align-items: center;
}

.card p{
    margin-block: 0.5rem;
    font-size: 1rem;
}

.card h3{
    font-size: 1.5rem;
}

/* #endregion */

/* #region banana section */
.banana-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.banana-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border:  var(--stroke-width) solid var(--titanium-white);
    border-radius: var(--border-radius);
    width: var(--card-img-dimensions);
    height: fit-content;
    padding: 1rem;
}

.banana-card svg{
    padding: 1rem;
    border: var(--stroke-width) solid var(--titanium-white);
    border-radius: var(--border-radius);
    width: 100%;
    height: 100%;
}

.banana-stats{
    width: 100%;
}

.banana-card ul{
    list-style: none;
    padding-inline: 0.5rem;
    margin: 0;
    margin-top: 2rem;
    width: 100%;
}

.banana-card ul li{
    display: flex;
    gap: auto;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;
    font-size: 1rem;
}

.banana-card ul li p{
    margin-block: 0.5rem;
}

.description{
    width: 30rem;
    font-size: 1.5rem;
}
/* #endregion */

.button-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}