*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --background-gradient: linear-gradient(180deg, rgba(5,2,23,1) 54%, rgba(13,5,67,1) 100%);

    /* Tones */
    --rich-black: #050217;
    --titanium-white: #FFFFFF;

    /* Cool Colors */
    --mercury-purple: #A95ACE;
    --earth-gradient: linear-gradient(0deg, #0057ff 0%, #86d3ff 100%);
    --earth-blue: #4597FF;
    --uranus-blue: #2BF2FF;
    --neptune-blue: #5F45FF;

    /* Warm Colors */
    --banana-yellow: #FFC700;
    --sun-yellow: #FFA724;
    --venus-orange: #FF6813;
    --mars-red: #FF6813;
    --jupiter-orange: #FF8A00;
    --saturn-yellow: #FFD600;

    --stroke-width: 0.5px;
    --glass-blur: 1rem;
    --border-radius: 1.5rem;
    
    --hero-fs: 5rem;
    --heading-fs: 2rem;
    --subheading-fs: 1.5rem;
}

body{
    background: var(--background-gradient);
    background-repeat:round;
    font-family: 'ClashDisplay-Regular',
        'CabinetGrotesk-Regular',
        'DM Sans';
    font-weight: 400;
    color: var(--titanium-white);
}

::selection{
    background-color: var(--titanium-white);
    color: var(--rich-black);
}

a,
:link,
:visited{
    color: var(--titanium-white);
    text-decoration: none;
}

a:hover{
    cursor: pointer;
}

/* #region Star Decoration */
.star-wrapper{
    display: contents;
}
.star-decoration{
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    align-items: center;
    margin-block: 1rem;
}

.line-decoration{
    height: 0;
    width: auto;
    margin-inline: 1rem;
    border-bottom: var(--stroke-width) solid var(--titanium-white) ;
    background-color: var(--titanium-white);
    flex-grow: 2;
}

.decorate-parent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-inline: 1rem;
    /* width: 100%; */
}
/* #endregion */

/* #region navbar styling */
header{
    position: sticky;
    top: 1rem;
    z-index: 1;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-inline: 1rem;
    z-index: 1;
}
.navbar ul{
    z-index: 1;
    height: 3rem;
    list-style: none;
    padding: 0.5rem;
    margin-block: auto;
    /* border: var(--stroke-width) solid var(--titanium-white); */
    border-radius: var(--border-radius);
    background-color: hsla(0, 0%, 100%, 0.175);
    backdrop-filter: blur(var(--glass-blur));
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.navbar li{
    margin-inline: 0.5rem;
    z-index: 1;
}
.navbar a{
    font-weight: bold;
    border: var(--stroke-width) solid transparent;
    border-radius: var(--border-radius);
    padding-inline: 0.5rem;
    z-index: 1;
}
.navbar a:hover{
    border: var(--stroke-width) solid var(--titanium-white);
}
.active-nav{
    font-weight: bold;
    background-color: var(--titanium-white);
    color: var(--rich-black);
}
/* #endregion */

.banana-text{
    color: var(--banana-yellow);
}

.banana-btn{
    font-family: 'ClashDisplay-Semibold';
    font-size: var(--subheading-fs);
    color: var(--rich-black);
    background-color: var(--banana-yellow);
    border: transparent;
    border-radius: var(--border-radius);
    padding: 0.5rem;
    cursor: pointer;
}

button{
    font-family: 'ClashDisplay-Semibold';
    font-size: var(--subheading-fs);
    color: var(--rich-black);
    background-color: var(--titanium-white);
    border: transparent;
    border-radius: var(--border-radius);
    padding: 0.5rem;
    cursor: pointer;
}



/* #region CabinetGrotesk */
@font-face {
    font-family: 'CabinetGrotesk-Thin';
    src: url('fonts/CabinetGrotesk-Thin.woff2') format('woff2'),
         url('fonts/CabinetGrotesk-Thin.woff') format('woff'),
         url('fonts/CabinetGrotesk-Thin.ttf') format('truetype');
    font-weight: 100;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'CabinetGrotesk-Extralight';
    src: url('fonts/CabinetGrotesk-Extralight.woff2') format('woff2'),
        url('fonts/CabinetGrotesk-Extralight.woff') format('woff'),
        url('fonts/CabinetGrotesk-Extralight.ttf') format('truetype');
    font-weight: 200;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'CabinetGrotesk-Light';
    src: url('fonts/CabinetGrotesk-Light.woff2') format('woff2'),
        url('fonts/CabinetGrotesk-Light.woff') format('woff'),
        url('fonts/CabinetGrotesk-Light.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'CabinetGrotesk-Regular';
    src: url('fonts/CabinetGrotesk-Regular.woff2') format('woff2'),
        url('fonts/CabinetGrotesk-Regular.woff') format('woff'),
        url('fonts/CabinetGrotesk-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'CabinetGrotesk-Medium';
    src: url('ts/CabinetGrotesk-Medium.woff2') format('woff2'),
        url('fonts/CabinetGrotesk-Medium.woff') format('woff'),
        url('fonts/CabinetGrotesk-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'CabinetGrotesk-Bold';
    src: url('fonts/CabinetGrotesk-Bold.woff2') format('woff2'),
        url('fonts/CabinetGrotesk-Bold.woff') format('woff'),
        url('fonts/CabinetGrotesk-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'CabinetGrotesk-Extrabold';
    src: url('fonts/CabinetGrotesk-Extrabold.woff2') format('woff2'),
        url('fonts/CabinetGrotesk-Extrabold.woff') format('woff'),
        url('fonts/CabinetGrotesk-Extrabold.ttf') format('truetype');
    font-weight: 800;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'CabinetGrotesk-Black';
    src: url('fonts/CabinetGrotesk-Black.woff2') format('woff2'),
        url('fonts/CabinetGrotesk-Black.woff') format('woff'),
        url('fonts/CabinetGrotesk-Black.ttf') format('truetype');
    font-weight: 900;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'CabinetGrotesk-Variable';
    src: url('fonts/CabinetGrotesk-Variable.woff2') format('woff2'),
        url('fonts/CabinetGrotesk-Variable.woff') format('woff'),
        url('fonts/CabinetGrotesk-Variable.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
}
/* #endregion CabinetGrotesk*/

/* #region ClashDisplay */
@font-face {
    font-family: 'ClashDisplay-Extralight';
    src: url('fonts/ClashDisplay-Extralight.woff2') format('woff2'),
            url('fonts/ClashDisplay-Extralight.woff') format('woff'),
            url('fonts/ClashDisplay-Extralight.ttf') format('truetype');
    font-weight: 200;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'ClashDisplay-Light';
    src: url('fonts/ClashDisplay-Light.woff2') format('woff2'),
            url('fonts/ClashDisplay-Light.woff') format('woff'),
            url('fonts/ClashDisplay-Light.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'ClashDisplay-Regular';
    src: url('fonts/ClashDisplay-Regular.woff2') format('woff2'),
            url('fonts/ClashDisplay-Regular.woff') format('woff'),
            url('fonts/ClashDisplay-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'ClashDisplay-Medium';
    src: url('fonts/ClashDisplay-Medium.woff2') format('woff2'),
            url('fonts/ClashDisplay-Medium.woff') format('woff'),
            url('fonts/ClashDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'ClashDisplay-Semibold';
    src: url('fonts/ClashDisplay-Semibold.woff2') format('woff2'),
            url('fonts/ClashDisplay-Semibold.woff') format('woff'),
            url('fonts/ClashDisplay-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'ClashDisplay-Bold';
    src: url('fonts/ClashDisplay-Bold.woff2') format('woff2'),
            url('fonts/ClashDisplay-Bold.woff') format('woff'),
            url('fonts/ClashDisplay-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'ClashDisplay-Variable';
    src: url('fonts/ClashDisplay-Variable.woff2') format('woff2'),
            url('fonts/ClashDisplay-Variable.woff') format('woff'),
            url('fonts/ClashDisplay-Variable.ttf') format('truetype');
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
}
/* #endregion ClashDisplay*/