footer{
    display: none;
}

.loading-element{
    position: fixed;
    background-color: var(--glass-color);
    backdrop-filter: var(--glass-blur);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    width: 100vw;
    height: 100vh;
}

.loading-percentage{
    font-size: 7rem;
}

.percentage{
    margin-left: 3rem;
}