/* #region Planets */
.sun{
    fill: var(--sun-yellow);
}

.mercury{
    fill: var(--mercury-purple);
}

.venus{
    fill: var(--venus-orange);
}

.earth{
    fill: var(--earth-blue);
}

.mars{
    fill: var(--mars-red);
}

.jupiter{
    fill: var(--jupiter-orange);
}

.saturn{
    fill: var(--saturn-yellow);
}

.uranus{
    fill: var(--uranus-blue);
}

.neptune{
    fill: var(--neptune-blue);
}
/* #endregion */

/* #region Planet Stat Card */
.planet-stats-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.planet-stats-card{
    position: fixed;
    top: 35%;
    right: 10%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    /* border:  var(--stroke-width) solid var(--titanium-white); */
    width: 35rem;
    padding: 1rem;
    background-color: hsla(0, 0%, 100%, 0.175);
    backdrop-filter: blur(var(--glass-blur));
}

.planet-stats-card h3{
    font-size: 2rem;
    text-align: center;
    height: fit-content;
}

.decorate-parent:not(.navbar){
    width: 100%;
}

.planet-stats-card ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-top: 1rem;
    margin-bottom: 0;
    padding: 0;
    width: 100%;
}

.planet-stats-card li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-block: 0.25rem;
    width: 100%;
}

.stat-key{
    text-align: left;
}

.stat-value{
    text-align: right;
}

.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}
/* #endregion */

/* #region Buttons */
.banana-stat-btn{
    font-family: 'ClashDisplay-Semibold';
    font-size: 1.25rem;
    color: var(--rich-black);
    background-color: var(--banana-yellow);
    border: transparent;
    border-radius: var(--border-radius);
    padding: 0.5rem;
    cursor: pointer;
}

.stat-btn{
    font-family: 'ClashDisplay-Semibold';
    font-size: 1.25rem;
    color: var(--rich-black);
    background-color: var(--titanium-white);
    border: transparent;
    border-radius: var(--border-radius);
    padding: 0.5rem;
    cursor: pointer;
}
/* #endregion */

.banana-word{
    color: var(--banana-yellow);
    padding-left: 0.25rem;
}

.units{
    padding-left: 0.25rem;
}

.planet-basket{
    z-index: 10;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: hsla(0, 0%, 100%, 0.175);
    backdrop-filter: blur(var(--glass-blur));
    border-radius: var(--border-radius);
    padding: 1rem;
    margin-inline: auto;
}

.planet-basket h3{
    margin-inline: 1rem;
    margin-bottom: 1rem;
}

.planet-basket ul{
    list-style: none;
    border-radius: var(--border-radius);
    border:  var(--stroke-width) solid var(--titanium-white);
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
    padding: 0.5rem;
}