body{
    background: url(../images/Space0.png);
    background-size: cover;
}

/* #region Planets */
.planet{
    cursor: pointer;
}

.sun{
    fill: var(--sun-yellow);
    cursor: pointer;
}

.mercury{
    fill: var(--mercury-purple);
    cursor: pointer;
}

.venus{
    fill: var(--venus-orange);
    cursor: pointer;
}

.earth{
    fill: var(--earth-blue);
    cursor: pointer;
}

.mars{
    fill: var(--mars-red);
    cursor: pointer;
}

.jupiter{
    fill: var(--jupiter-orange);
    cursor: pointer;
}

.saturn{
    fill: var(--saturn-yellow);
    cursor: pointer;
}

.uranus{
    fill: var(--uranus-blue);
    cursor: pointer;
}

.neptune{
    fill: var(--neptune-blue);
    cursor: pointer;
}

.semimajorAxis{
    fill: none;
    stroke: white;
    z-index: -1;
}

.planet-label{
    display: none;
    fill: white;
    font-size: 1rem;
}

.solar-system{
    height: fit-content;
    background-color: blue;
}

.ss-inner{
    background-color: azure;
}

.planet-data-viz{
    background-color: blueviolet;
}
/* #endregion */

/* #region Planet Stat Card */
.planet-stats-container{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.planet-stats-card{
    z-index: inherit;
    position: relative;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    /* border:  var(--stroke-width) solid var(--titanium-white); */
    width: 35rem;
    padding: 1rem;
    margin-bottom: 50%;
    background-color: var(--glass-color);
    backdrop-filter: var(--glass-blur);
}

.planet-stats-card h3{
    font-size: 2rem;
    text-align: center;
    height: fit-content;
}

.decorate-parent:not(.navbar){
    width: 100%;
}

.planet-stats-card ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-top: 1rem;
    margin-bottom: 0;
    padding: 0;
    width: 100%;
}

.planet-stats-card li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-block: 0.25rem;
    width: 100%;

}

.stat-key{
    text-align: left;
}

.stat-value{
    text-align: right;
}

.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}
/* #endregion */

/* #region Buttons */
.banana-stat-btn{
    font-size: 1.25rem;
    color: var(--rich-black);
    background-color: var(--banana-yellow);
    border: transparent;
    border-radius: var(--border-radius);
    padding: 0.5rem;
    cursor: pointer;
}

.stat-btn{
    font-size: 1.25rem;
    color: var(--rich-black);
    background-color: var(--titanium-white);
    border: transparent;
    border-radius: var(--border-radius);
    padding: 0.5rem;
    cursor: pointer;
}
/* #endregion */

.banana-word{
    color: var(--banana-yellow);
    padding-left: 0.25rem;
}

.units{
    padding-left: 0.25rem;
}

aside{
    display: none;
    z-index: 10;
    position: fixed;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
    height: fit-content;
    width: fit-content;
    align-items: center;
    margin: 2rem;
    left: 50%;
    top: 2rem;
    transform: translateX(-60%);
    transition: left 1.2s ease,
        top 1.2s ease;
}

.planet-aside{
    left: 75%;
    top: 15%;
}

.planet-aside-center{
    left: 50%;
    top: 2rem;
    transform: translate(-56.5%);
}

.planet-basket{
    z-index: 10;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--glass-color);
    backdrop-filter: var(--glass-blur);
    border-radius: var(--border-radius);
    padding: 1rem;
    margin-inline: auto;
    margin-block: 1rem;
    width: fit-content;
}

.planet-basket .header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.info-text{
    position: absolute;
    display: none;
    width: 100%;
    text-align: center;
}

.state-one{
    top: 50%;
    left: 0%;
    transform: translate(0%, 125%);
}

.state-two{
    top: 0%;
    left: 0%;
    transform: translate(0%, -75%);
}

.state-three{
    top: 100%;
    left: 0%;
    transform: translate(0%, 0%);
}

.info-btn{
    background-color: var(--banana-yellow);
    border-radius: 100vw;
    height: 1rem;
    width: 1rem;
    color: var(--rich-black);
    text-align: center;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-right: 0.5rem;
}

.planet-basket h3{
    margin-inline: 1rem;
    margin-bottom: 1rem;
    font-size: 1.125rem;
    text-align: center;
    height: fit-content;
}

.planet-basket ul{
    list-style: none;
    border:  var(--border);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
}

.planet-svg-container{
    margin: 0.5rem;
}


.sort-btn-container{
    display: none;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}

.sort-btn{
    font-size: 1rem;
    color: var(--titanium-white);
    background-color: transparent;
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 0.5rem;
    margin-inline-start: 0.5rem;
    cursor: pointer;
}
.sort-btn:hover{
    background-color: var(--glass-color);
    backdrop-filter: var(--glass-blur);
    border: transparent;
}

main{
    display: flex;
    flex-direction: column;
}