body{
    background: url(../images/Space3.png);
    background-size: cover;
}

h1{
    margin: 3rem;
    text-align: center;
}

h2{
    margin: 1.5rem;
    text-align: center;
}

h3{
    font-size: 1.5rem;
}

.wireframes,
.style-sheet
.theory{
    margin-block: 5rem;
}

.page-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-inline: 2rem;
    margin-block: 1rem;
    border: var(--border);
    border-radius: var(--border-radius);
}

.wireframe-img-container{
    width: fit-content;
    height: 30rem;
    display: flex;
    gap: 1rem;
    margin: 1rem;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}

.wireframe-wrapper{
    width: 4rem;
    height: 100%;
    border: var(--border);
    border-radius: var(--border-radius);
    overflow: hidden;
    flex-grow: 1;
    transition: width 0.5s ease, flex-grow 0.5s ease;
}
.wireframe-wrapper.focus{
    width: 50rem;
    flex-grow: 2;
}

.wireframe-img{
    opacity: 0;
    width: 100%;
    border-radius: var(--border-radius);
    object-fit: contain;
    transition: opacity 0.5s ease;
}
.wireframe-img.focus{
    opacity: 1;
}

.wireframe-description{
    margin: 1rem;
    width: 40%;
}
/* #region */
.style-guide{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: fit-content;
}

.style-guide-explain{
    font-size: 1.5rem;
    width: 50%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
}

.style-guide-container{
    display: flex;
    justify-content: end;
    align-items: center;
    flex-shrink: 1;
    margin: 1rem;
}

.style-guide-wrapper{
    width: 100%;
    border: var(--stroke-width) solid var(--titanium-white);
    border-radius: var(--border-radius);
    margin: 1rem;
    overflow: hidden;
}

.style-guide-wrapper img{
    width: 100%;
}


#stylesheet{
    width: 70%;
}

.theory{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pdf-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    width: 75vw; /* Full viewport width */
    margin: auto; /* Remove default margins */
    padding: 0; /* Remove default padding */
    overflow: hidden; /* Prevent scrollbars if the content overflows */
}

.pdf-parent embed {
    height: 100%; /* Full height of the container */
    width: 100%; /* Full width of the container */
    border: none; /* Remove any default borders */
}

/* #endregion */