h1{
    margin: 3rem;
    text-align: center;
}

h2{
    margin: 1.5rem;
    text-align: center;
}

article{
    margin-bottom: 10rem;
}

.wireframes-container{
    display: flex;
    flex-direction: row;
    justify-content:end;
    width: 100%;
    padding-inline: 1rem;
}

.fid-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.wireframe-wrapper{
    width: 100%;
    height: 25.5rem;
    overflow: hidden;
    margin-block: 0.5rem;
    border: var(--stroke-width) solid var(--titanium-white);
    border-radius: var(--border-radius);
}
.wireframe-wrapper:hover{
    height: fit-content;
}

.wireframe-wrapper img{
    width: 100%;
    object-fit: cover;
}

.style-guide{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.style-guide-explain{
    font-size: 1.5rem;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
}

.style-guide-container{
    width: 70%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 1rem;
}

.style-guide-wrapper{
    width: 100%;
    border: var(--stroke-width) solid var(--titanium-white);
    border-radius: var(--border-radius);
    margin: 1rem;
    overflow: hidden;
}

.style-guide-wrapper img{
    width: 100%;
}